html, body {
	margin: 0;
	padding: 0;
	/*font-family: Roboto, Helvetica, sans-serif;*/
	background-color: #f4f4f4;
}




/*MD polyfills*/
.mat-icon-button {
	padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

.mat-elevation-z1 {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-elevation-z2 {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mat-elevation-z3 {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mat-elevation-z4 {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mat-elevation-z5 {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}


md-input-container[dense] {
	/*font-size: 13px;*/
	margin: 12px 0 8px;
}

md-input-container[dense] .md-errors-spacer {
	display: none;
}

md-input-container .md-input {
	border-color: transparent;
}





/*util*/
.no-pad {
	padding: 0;
}

/*actual page stuff*/

.chapter {
	background-color: #3F51B5;
	width: 100%;
	padding-bottom: 80px;
	margin-bottom: -80px;
	min-height: 128px;
}

.accent {
	background-color: #7986CB;
}

md-toolbar.c700 {
	background-color: #303F9F
}
.add-card {
	display: inline-block;
	/*position: absolute;*/
}

.add-card > .md-button {
	display: block;
}

.add-card > md-card-header-text {
	background-color: #7986CB;
}


.header-row {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.54);
}

.number-input {
	width: 48px;
}



.main-card {
	max-width: 800px;
	margin: auto;
	z-index: 2;
}
/*.main {
	font-size: 1em;
}

.header {
	margin-top: .25em;
	margin-left: 2em;
	margin-bottom: 0em;
	margin-right: 2em;
}

.header > h1 {
	font-size: 3em;
	font-weight: bold;
	display: inline;
}


footer {
	margin-top: 0em;
	border-top: 2px dotted black;
}
.moreInfo {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.moreInfo > div, p {
	display: table-cell;
	width: auto;
	padding: 1em 1em 1em 1em;
	font-size: 1em;
}

.footerBlock {
	vertical-align: middle;
}

.footerBlock > a {
	text-decoration: none;
	color: red;
}


.forceShow {
	display: table-cell !important;
	font-size: 2em;
}

.forceHide {
	display: none !important;
}

.controls {
	margin-left: 4%;
	margin-right: 4%;
	display: table;
	padding: .5em 0em .25em 0em;
}

.controls > div {
	display:table-cell;
}

.adderButtonBlock, .initButtonBlock {
	width: auto;
	vertical-align: middle;
	text-align: center;
	text-align: -webkit-center;
}

.adderButtonBlock > .normalButton {
	display: block;
	vertical-align: top;
	margin:auto;
	margin-bottom: .2em;
	border: 2px solid black;
	padding: 0em .5em 0em .5em;
}

.normalButton {
	background: white;
	color: #000;
	border: 1px solid black;
	font-size: 2em;
	font-weight: 200;
	padding: 4px 20px;
	border-radius: 2px;
}

td .normalButton:hover {
	background: rgb(255,80,80);
	transition: background 250ms;
	border: 1px solid black;
}

.footerBlock button:hover, .tooltip:hover, 
	.adderButtonBlock > .normalButton:hover {
	box-shadow: 0px 0px 10px 2px #2700fd;
	transition: 250ms;
}

.initiativeButton {
	justify-content: center;
	vertical-align: middle;
    background-color: white;
    border: 3px solid black;
    border-radius: 25%;
    color: black;
    height: 3em;
    font-size: 3em;
    margin-left: 2em;
	font-style: italic;

	padding-right: .5em;
	padding-left: .5em;

    box-shadow: 7px 7px #979797;
}

.initiativeButton:hover {
	background: black;
	color: white;
	transition: background 500ms;
	font-style: italic;
}

.initiativeButton:active {
  background-color: black;
  box-shadow: 3px 3px #979797;
  transform: translateX(3px) translateY(3px);
}

.initiativeButton:focus {
	outline: none;
}

.buttonDetail .normalButton {
	font-size: 2em;
}

.clearButton {
	border-radius: 100%;
	border: none;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	background-color: gray;
	font-size: 1em;
	color: white;
}

.creatureBlock {
	border-collapse: separate;
	border-spacing: 0 1em;
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
}

tr > td {
	padding: 5px;
}

td > input {
	font-size: 20px;
	font-weight: 900;
	height: 2em;
	border: 2px solid black;
	width: 50%;
	text-align: center;
}

.textInput {
	width: 100%;
}

.numInput {
	margin-left: 25%;
}

tr:not(.heading) {
	outline: solid;
}

.heading {
	border-bottom: 0px;
	font-size: 140%
}


.playerClass {
	background-color: rgb(52,168,83);
}

.npcClass {
	background-color: white;
}

.monsterClass {
	background-color: rgb(234,67,53);
}

.tooltip {
	float: right;
	font-size: 1.25em;
	margin-top: .5em;
}

.tooltiptext {
	width: 5em;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: .5em;
	border-radius: .5em;
 	
 	font-size: 1.75em;
	position: absolute;
	z-index: 1;
	right: 1.2em;
	top: 2em;
}
.tooltiptext a {
	text-decoration: none;
	color: red;
}*/
